<div class="edit-category-form">
  <form [formGroup]="editCategoryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="categoryTitle">Title:</label>
          <input type="text" id="categoryTitle" formControlName="categoryTitle" required>
          <div *ngIf="editCategoryForm.get('categoryTitle').touched && editCategoryForm.get('categoryTitle').errors">
              <small class="text-danger" *ngIf="editCategoryForm.get('categoryTitle').errors['required']">
                  Title is required.
              </small>
          </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!editCategoryForm.valid">Update Category</button>
  </form>
</div>
