<div class="create-movie-form">
  <form [formGroup]="createMovieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" required>
      <div *ngIf="createMovieForm.get('title')?.touched && createMovieForm.get('title')?.errors">
        <small class="text-danger" *ngIf="createMovieForm.get('title')?.errors?.['required']">
          Title is required.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" id="image" (change)="onFileChange($event)" accept="image/*">
    </div>

    <div class="form-group">
      <label for="categoryId">Category:</label>
      <select id="categoryId" formControlName="categoryId" required>
        <option *ngFor="let category of categoryList" [value]="category.id">{{ category.categoryTitle }}</option>
      </select>
      <div *ngIf="createMovieForm.get('categoryId')?.touched && createMovieForm.get('categoryId')?.errors">
        <small class="text-danger" *ngIf="createMovieForm.get('categoryId')?.errors?.['required']">
          Category is required.
        </small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!createMovieForm.valid">Create Movie</button>
  </form>
</div>
